
* {
box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
    font-family: system-ui, sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 16px;
}

header h2 {
    margin-bottom: 5px;
}

section {
    margin-top: 20px;
}

#controls {
display: flex;
gap: 12px;
margin: 20px 0;
flex-wrap: wrap;
}

#controls button {
flex: 1;
padding: 13px;
border-radius: 15px;
border: 2px groove black;
cursor: pointer;
}

#button1 { background: honeydew; }
#button2 { background: lavender; }
#button3 { background: lavenderblush; }

#inputContainer {
margin-top: 15px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    resize: vertical;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.save {
    background: #d1e7dd;
}

.cancel {
    background: #f8d7da;
}

.action-buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#searchContainer {
display: flex;
gap: 10px;
margin: 15px 0;
}

#searchContainer input,
#searchContainer select {
padding: 12px;
border-radius: 8px;
border: 1px solid #ccc;
width: 100%;
}

.import-export {
    margin: 25px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.import-export button {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid black;
    background: #e2e3e5;
    cursor: pointer;
}


@media (max-width: 600px) {
    #controls {
    flex-direction: column;
    }

    .action-buttons {
        flex-direction: column;
    }

    #searchContainer {
    flex-direction: column;
    }
}
