
body {
    background-color: antiquewhite;
}

#mainHeading {
    margin-left: 6%;
    margin-top: 3.8%;
}

#intro1 {
    margin-top: 0%;
    margin-left: 2.7%;
    margin-bottom: 0.5%;
}

#intro2 {
    margin-top: 0%;
    margin-left: 2.4%;
}

#haveThought {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

#noworlater {
    margin-left: 3.8%;
    margin-top: 0.01%;
    margin-bottom: 1%;
    box-sizing: border-box;
    position: relative;
}

#button1 {
    border-radius: 15px;
    text-align: center;
    border: groove black 1px;
    border-width: 2px;
    padding: 13px;
    background-color: honeydew;
    margin-left: 3.2%;
    margin-right: 1.5%;
    margin-top: 1%;
}
#button2 {
    margin-top: 1%;
    border-radius: 15px;
    text-align: center;
    border: groove black 1px;
    border-width: 2px;
    padding: 13px;
    background-color: lavender;
    margin-right: 1.5%;
}
#button3 {
    margin-top: 1%;
    border-radius: 15px;
    text-align: center;
    border: groove black 1px;
    border-width: 2px;
    padding: 13px;
    background-color: lavenderblush;
    margin-right: 1.5%;
}

#savedHistory {
    margin-left: 3.8%;
    margin-top: 3.8%;
}

.line {
    border-bottom: groove gainsboro;
    margin-top: 1.7%;
}
